@typeparam T
@inherits CustomBaseComponent
<tr class="element-grid-row
                                @((IsSelected) ? "selected-element" : "")"
    @onclick="@((args) => SelectElement(Element, args))"
    @ondblclick="@((args) => SelectAndValideElement(Element, args))"
    @oncontextmenu="@((args) => RightClickElement(Element, args))">
    @foreach (var c in this.Container.InternalColumns.OrderBy(c => c.Index))
    {
    <td scope="col">
        @(c.Body(Element))

    </td>
    }
</tr>