@using BlazorTest.Client.Components.Grid

@*<Grid Items="@Items">
    <Columns>
        <GridColumn Header="Date" Index="1"  T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="Date">
            <Body Context="forecast">
                @forecast.Date.ToShortDateString()
            </Body>
        </GridColumn>
        <GridColumn Header="Temp. (C)" Index="2"  T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="TemperatureC">
            <Body Context="forecast">
                @forecast.TemperatureC
            </Body>
        </GridColumn>
        <GridColumn Header="Temp. (F)" Index="3"  T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="TemperatureF">
            <Body Context="forecast">
                @forecast.TemperatureF
            </Body>
        </GridColumn>
        <GridColumn Header="Summary" Index="4"  T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="Summary">
            <Body Context="forecast">
                @forecast.Summary
            </Body>
        </GridColumn>
        <GridColumn Header="City" Index="5"  T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true"  OrderingExpression="City.Name">
            <Body Context="forecast">
                @forecast.City.Name
            </Body>
        </GridColumn>

    </Columns>
</Grid>*@
    <Grid Items="@Items">
        <Columns>
            <GridColumn Header="Date" Index="1" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="Date">
                <Body Context="forecast">
                    @forecast.Date.ToShortDateString()
                </Body>
            </GridColumn>
            <GridColumn Header="Temp. (C)" Index="2" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="TemperatureC">
                <Body Context="forecast">
                    @forecast.TemperatureC
                </Body>
            </GridColumn>
            <GridColumn Header="Temp. (F)" Index="3" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="TemperatureF">
                <Body Context="forecast">
                    @forecast.TemperatureF
                </Body>
            </GridColumn>
            <GridColumn Header="Summary" Index="4" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="Summary">
                <Body Context="forecast">
                    @forecast.Summary
                </Body>
            </GridColumn>
            <GridColumn Header="City" Index="5" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="City.Name">
                <Body Context="forecast">
                    @forecast.City.Name
                </Body>
            </GridColumn>

        </Columns>
    </Grid>