@using BlazorTest.Client.Components.Grid.V1
    <GridV1 Items="@Items">
        <Columns>
            <GridColumnV1  Header="Date" Index="1" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="Date">
                <Body Context="forecast">
                    @forecast.Date.ToShortDateString()
                </Body>
            </GridColumnV1>
            <GridColumnV1 Header="Temp. (C)" Index="2" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="TemperatureC">
                <Body Context="forecast">
                    @forecast.TemperatureC
                </Body>
            </GridColumnV1>
            <GridColumnV1  Header="Temp. (F)" Index="3" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="TemperatureF">
                <Body Context="forecast">
                    @forecast.TemperatureF
                </Body>
            </GridColumnV1>
            <GridColumnV1 Header="Summary" Index="4" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="Summary">
                <Body Context="forecast">
                    @forecast.Summary
                </Body>
            </GridColumnV1>
            <GridColumnV1 Header="City" Index="5" T="@(BlazorTest.Shared.WeatherForecast)" CanOrder="true" OrderingExpression="City.Name">
                <Body Context="forecast">
                    @forecast.City.Name
                </Body>
            </GridColumnV1>

        </Columns>
    </GridV1>